<div class="transactions-card">
    <div class="header">
        <p>Transaction</p>

        <mat-form-field>
            <mat-label>Month</mat-label>
            <mat-select>
                <mat-option value="option1" disabled>Month</mat-option>
                <mat-option value="option2">April</mat-option>
                <mat-option value="option3">May</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="content">
        <div class="transaction">
            <p>Transaction 1</p>
            <p>Amount: $100</p>
        </div>

        <div class="transaction">
            <p>Transaction 2</p>
            <p>Amount: $200</p>
        </div>

        <div class="transaction">
            <p>Transaction 3</p>
            <p>Amount: $300</p>
        </div>
    </div>
</div>
