<div class="login-page">
<div class="login-container">
  <div class="icon-container">
    <mat-icon class="login-icon" aria-hidden="false" fontIcon="person"></mat-icon>
  </div>

  <p class="login-title">Login</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
    <mat-form-field class="mat-form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" placeholder="Email Address" formControlName="email">
      @if (loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched) {
        <mat-error>Email Address is required.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="mat-form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" placeholder="Password" formControlName="password"
             [class]="{'invalid': loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched, 'valid':loginForm.get('email')?.valid}">
      @if (loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched) {
      <mat-error>Password is required.</mat-error>
      }
    </mat-form-field>

    <div class="forgot-password-field">
      <a routerLink="">Forgot your password?</a>
    </div>

    <div class="sign-buttons">
      <button mat-raised-button color="primary">Sign In</button>

      <div class="no-account-link">
        <a routerLink="">Don't have an account?</a>
      </div>

      <p>or</p>

      <button mat-raised-button color="basic">Sign In with Google</button>
    </div>
  </form>
</div>
</div>
