<div class="basic-info-card">
    <div class="basic-info-card__header">
        <div class="icon">
            <mat-icon fontIcon="account_balance_wallet"/>
        </div>

        <div>
            <button mat-raised-button>Add</button>
        </div>
    </div>

    <div class="basic-info-card__body">
        <div>
            <p style="color: #A9A9A9;font-size: 18px;font-weight: 300">Balance</p>

            <p style="font-size: 20px;font-weight: 500">$ 4100.20</p>
        </div>

    </div>
</div>
